@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vujahday+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --grey-wind: #EAE5E9;
  --grey-wind-fadeout: #F5F2F4;
  --golden-runes: #BB7E47;
  --golden-runes-fadeout: #DDBEA3;
  --animation-speed: .3s;
  --menu-height: 65px;
  --grey-fill: #F9F9F9;
  --graphit: #535353;
}

p {
  margin: 0;
}

a, .gold-runes-underline, .gold-runes-strike {
  text-decoration: none !important;
  color: inherit !important;
  display: inline-block;
  position: relative;
  transition: color var(--animation-speed, .5);
}

a.active {
  color: var(--golden-runes, gold) !important;
}

a:not(.no-underline)::before, .gold-runes-underline::before, .gold-runes-strike::before {
  content: '';
  width: 0;
  left: 50%;
  height: 1px;
  position: absolute;
  top: 100%;
  background-color: var(--golden-runes, gold);
  transition: width var(--animation-speed, .5), left var(--animation-speed, .5);
}

.gold-runes-strike::before {
  height: 2px;
  top: 50%;
  width: 100%;
  left: 0;
}

a:hover {
  color: var(--golden-runes, gold) !important;
}

a:hover::before, .gold-runes-underline::before {
  width: 100%;
  left: 0;
}

footer {
  padding: 10px 20px;
  text-align: center;
  background-color: var(--golden-runes, gold);
  color: #FFF;
  font-size: 20px;
}

img.enlarge-enabled {
  cursor: zoom-in;
}

.enlarge-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.enlarge-container::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  z-index: -1;
}

.enlarge-container.active {
  display: flex;
}

.enlarge-container img {
  height: 90%;
  object-fit: contain;
}

.enlarge-container img:focus {
  outline: none;
}

.full-page {
  min-height: calc(100vh - var(--menu-height, 65px));
  padding: 30px 0;
}

.grey-bg {
  background-color: var(--grey-fill, grey);
}

.gold-runes {
  font-family: 'Vujahday Script', cursive;
}

.floral {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: .025;
  background-repeat: no-repeat;
  background-position: -100px -60px;
  overflow: hidden;
  background-size: 125%;
  transform: rotate(180deg) scaleX(-1);
}

.gold-runes-color, .gold-runes, .gold-runes-italic {
  font-weight: bold;
  text-transform: none;
  color: var(--golden-runes, gold);
}

.gold-runes-italic {
  font-weight: normal;
  font-style: italic;
}

.center-title {
  margin-bottom: 50px;
  text-align: center;
}

.title-grey {
  color: var(--grey-wind-fadeout, grey);
  text-align: center;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.title-grey::before, .title-grey::after {
  content: '';
  display: inline-block;
  background-color: var(--grey-wind-fadeout, grey);
  width: 100%;
  height: 2px;
  border-radius: 2px;
  opacity: .5;
}

.title-grey::before {
  margin-right: 10px;
}

.title-grey::after {
  margin-left: 10px;
}

.separator {
    height: 50px;
}

.content {
  display: flex;
  align-items: center;
}

.story-text {
  font-size: 18px;
  line-height: 1.6;
  color: var(--graphit, #535353);
  margin-bottom: 30px;
}

.note {
  position: relative;
}

.note::before {
  content: '!';
  display: block;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: gold;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: -20px;
  top: -20px;
}

.note-icon {
  width: 100px;
}

.note-icon img {
  width: 100%;
}

.note-desc {
  width: calc(100% - 125px);
}

.luna-card {
  position: relative;
  background-color: var(--grey-wind-fadeout, grey);
  z-index: 1;
  padding: 25px;
}

.luna-card.luna-card-gold {
  background-color: var(--golden-runes-fadeout, gold);
}

.frame {
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  z-index: -1;
  left: 5px;
  top: 5px;
  border: 2px solid var(--grey-wind-fadeout, grey);
}

.frame.frame-gold {
  border: 2px solid var(--golden-runes-fadeout, gold);
}

nav {
  background-color: var(--grey-wind, grey);
  width: 100%;
  height: var(--menu-height, 65px);
  position: sticky;
  top: 0;
  z-index: 9998;
}

nav .menu {
  height: 100%;
  display: flex;
  justify-content: center;
}

nav .menu-item {
  max-width: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
}

nav .menu-item.logo a {
  display: block;
  height: 100%;
  width: 100%;
}

nav .menu-item .menu-item-mobile {
  display: none;
}

nav .menu-item.logo {
  height: 90%;
  position: relative;
}

nav .menu-item.logo p {
  margin-bottom: -5px;
  z-index: 2;
}

nav .menu-item.logo img {
  position: absolute;
  height: 175%;
  top: 12.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: top var(--animation-speed, .5s), height var(--animation-speed, .5s);
}

nav .menu-item.logo.small img {
  height: 100%;
  top: 0;
}

.hero {
  min-height: calc(100vh - var(--menu-height, 65px));
  position: relative;
}

.hero-content {
  position: relative;
  height: 90vh;
  width: 100%;
  padding: 20px;
  --header-height: 50px;
}

.hero-header {
  height: var(--header-height, 50px);
  display: flex;
  align-items: center;
}

.hero-header {
  font-size: 30px;
}

.hero-header .gold-runes {
  font-size: 50px;
}

.hero-header .hero-logo {
  height: 200%;
  margin-right: 10px;
  z-index: 2;
}

.hero-body {
  height: calc(100% - var(--header-height, 50px));
  display: flex;
  flex-direction: row-reverse;
}

.about-card, .gallery-card {
  height: calc(100% - 20px);
  transition: z-index var(--animation-speed, .5s), margin-top var(--animation-speed, .5s);
}

.about-card {
  width: calc(510px + 20px);
  margin-right: -20px;
}

.revers .about-card {
  margin-top: 20px;
  margin-right: 0;
  z-index: 0;
}

.about-card-bio {
  overflow: hidden;
  height: calc(100% - 185px);
}

.gallery-card {
  width: calc(100% - 510px);
  min-width: 400px;
  margin-top: 20px;
  z-index: 0;
}

.revers .gallery-card {
  margin-top: 0;
  margin-right: -20px;
}

*:not(.revers) .gallery-card:hover {
  margin-top: 0;
  z-index: 1;
}

.revers .about-card:hover {
  margin-top: 0;
  z-index: 1;
}

.gallery-card:hover ~ .about-card {
  margin-top: 20px;
  z-index: 0;
}

.about-card:hover ~ .gallery-card {
  margin-top: 20px;
  z-index: 0;
}

.gallery-card .carousel, .gallery-card .carousel-item, .gallery-card .carousel-inner {
  height: 100%;
}

.gallery-card-before-after {
  height: calc(70% - 20px);
  margin-bottom: 20px;
  overflow: hidden;
}

.gallery-card-before-after img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.gallery-card-before-after .img-container {
  background-color: #000;
  width: calc(50% - 10px);
}

.gallery-card .reviewer {
  display: inline-block;
  max-width: calc(100% - 190px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
  vertical-align: middle;
  padding-right: 10px;
}

.gallery-card-review {
  height: 30%;
  position: relative;
  padding: 10px 20px;
}

.gallery-card-review-small .gallery-card-review {
  height: 70px;
}

.gallery-card-review-small .gallery-card-before-after {
  height: calc(100% - 90px);
}

.gallery-card-review-header {
  font-size: 30px;
  height: 50px;
}

.galler-card-review-desc {
  height: calc(100% - 50px);
  overflow: hidden;
}

.stars {
  margin-left: 5px;
}

.star {
  color: var(--golden-rune, gold);
}

.about-card-bio-img {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 100%;
  margin: 10px auto;
  margin-bottom: 25px;
  border: 2px solid var(--golden-runes-fadeout, gold);
}

.process-graph {
  text-align: center;
  font-size: 36px;
}

.process-graph img {
  width: 100px;
  margin: 0 20px;
}

.luna-form input {
    background-color: #FFF;
    border: none;
    width: 100%;
    padding: 5px 10px ;
}

.luna-form input:active, .luna-form input:focus {
    border: none;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
.luna-form input::-webkit-outer-spin-button,
.luna-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.luna-form input[type=number] {
  -moz-appearance: textfield;
}

.luna-form .label {
  margin: 0;
  margin-bottom: 10px;
  color: var(--grey-wind-fadeout, grey);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: 600;
}

.luna-form .label::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--grey-wind-fadeout, grey);
  margin-left: 20px;
  opacity: .5;
  border: 2px;
}

.luna-form .required .label::before {
  content: '*';
  color: red;
  margin-right: 5px;
}

.luna-form .input-container {
  margin-bottom: 20px;
}

.luna-form .submit {
  width: 200px;
  margin-left: calc(100% - 200px);
  position: relative;
  z-index: 1;
  height: 40px;
}

.luna-form .submit input {
  background-color: transparent;
  height: 100%;
}

.contact-card iframe {
  width: 100%;
  height: 300px;
  border: 5px solid var(--golden-runes-fadeout, gold);
}

.contact-list {
  list-style: none;
  list-style-position: inside;
  padding: 20px;
  margin: 0;
}

.contact-list li {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
}

.contact-list li img {
  width: 25px;
  margin-right: 5px;
}

.contact-list li a {
  width: calc(100% - 30px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gallery .img-box {
  display: inline-block;
  width: calc((100% / 3) - 20px);
  height: 0;
  padding-bottom: calc((100% / 3) - 20px);
  margin: 5px;
  vertical-align: top;
  overflow: hidden;
  position: relative;
}

.gallery .img-box img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  height: 100%;
}

.messages .error, .messages .success {
  width: 100%;
  height: calc(100% - 20px);
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.messages .error {
  background-color: rgba(255, 0,0 ,.5);
}

.messages .success {
  background-color: rgb(46, 204, 113, .5);
}

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.messages .loader {
  width: 20px;
  height: 20px;
  border: 5px solid var(--grey-wind-fadeout, grey);
  border-radius: 100%;
  border-bottom: 5px solid transparent;
  animation: loading 2s infinite linear;
}


@media (max-width:1200px) {
  .hero-body {
    flex-direction: column-reverse;
  }

  .hero-content {
    padding: 0;
    height: auto;
  }

  .hero {
    min-height: auto;
  }

  .about-card, .gallery-card {
    width: 100%;
  }

  *:not(.revers) .gallery-card:hover,.revers .about-card:hover, .gallery-card:hover ~ .about-card,.about-card:hover ~ .gallery-card {
    margin-top: unset;
  }

  .gallery-card, .revers .about-card {
    margin-top: 0;
  }

  .revers .gallery-card, .about-card {
    margin-right: 0;
  }
}

@media (max-width:768px) {
  .gallery .img-box {
    width: calc((100% / 2) - 20px);
    padding-bottom: calc((100% / 2) - 20px);
  }

  .process-graph > *:not(.keep-mobile) {
    display: none;
  }

  .note-icon {
    display: none;
  }

  .note-desc {
    width: 100%;
  }

  .note::before {
    display: none;
  }

  .luna-form .submit {
    width: 100%;
    margin-left: 0;
  }

  .stars {
    display: none;
  }

  .hero-header {
    font-size: 25px;
    justify-content: center;
  }

  .hero-header .gold-runes {
    font-size: 35px;
  }

  .hero-header .hero-logo {
    height: 100%;
  }
}

@media (max-width:555px) {
  .gallery .img-box {
    width: calc(100% - 20px);
    padding-bottom: calc(100% - 20px);
  }

  nav {
    position: fixed;
    bottom: 0;
    top: unset;
  }

  nav .menu-item.logo img {
    height: 100%;
    top: 0;
  }

  nav .menu-item {
    font-size: 16px;
    font-weight: 600;
  }

  nav .menu-item a {
    color: var(--golden-runes, gold) !important;
  }

  .row > * {
    width: 100%;
  }

  .menu-item-desktop {
    display: none;
  }

  nav .menu-item .menu-item-mobile {
    display: block;
  }
}

@media (max-width: 450px) {
  .hero-content {
    padding: 0;
  }

  .gallery-card-review-small .gallery-card-before-after .img-container:first-child {
    display: none !important;
  }

  .gallery-card-review-small .gallery-card-before-after .img-container {
    width: 100%;
  }

  .gallery-card {
    min-width: unset;
  }

  .gallery-card .reviewer {
    max-width: 100%;
    overflow: visible;
    white-space: normal;
    text-align: center;
  }

  .gallery-card-review-small .gallery-card-review, .gallery-card-review-header {
    height: unset;
  }
}
